body {
  margin: 0;
  background-color: #eee;
  user-select: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior-y: contain;
  touch-action: none;
}

.header {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  background-color: #fff;
  align-items: center;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  position: sticky;
  top: 0;
  z-index: 5;
}

.logo {
  padding: 7px;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  height: max-content;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  user-select: none;
}

.nav div {
  font: 600 14.5px Arial, sans-serif;
  /* padding: 0 10px; */
  display: flex;
  align-items: center;
  color: #8e8fe3;
}

.nav div:after {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-top: 2px solid #ccd1d6;
  border-right: 2px solid #ccd1d6;
  content: "";
  transform: rotate(45deg);
  /* position: absolute; */
  margin-left: 15px;
  margin-right: 15px;
}

.nav div:last-child:after {
  display: none;
}

.nav div:last-child {
  color: #000;
  font-weight: 500;
}

.nav2 {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 0;
  width: 100%;
  justify-content: flex-end;
}

.nav2 div {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 7px 24px;
  background: #7e7fdf;
  border-radius: 4px;
  border: 1px solid #7e7fdf;
  margin-left: 12px;
  transition: all 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .nav2 div {
    cursor: auto;
  }
}

.nav2 div:hover {
  background: #6c6ddb;
}

.nav2 div:first-child {
  background: #fff;
  color: #7e7fdf;
}

.nav2 div:first-child:hover {
  background: #f1f3f5;
}

.header .profile {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 0;
  /* padding-right: 10px; */
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 185px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header .profile {
    cursor: auto;
  }
}

.header .profile .img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.header .profile .namePoint {
  margin-left: 8px;
  margin-right: 18px;
  min-width: 105px;
}

.header .profile .namePoint .name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.header .profile .namePoint .point {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #868e96;
}

.header .signout {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  top: 60px;
  right: 10px;
  width: 185px;
}

.header .signout .item {
  display: flex;
  flex-direction: row;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header .signout .item {
    cursor: auto;
  }
}

.header .signout div svg {
  margin-right: 9.67px;
}

.enterContainer {
  position: fixed;
  z-index: 6;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enterDiv {
  box-sizing: border-box;
  position: absolute;
  width: 400px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  padding: 32px;
  transition: all 0.3s;
  transform: scale(0);
}

.scale {
  transform: scale(1);
}

.enterDiv .closeBtn {
  position: absolute;
  top: 22px;
  right: 22px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .enterDiv .closeBtn {
    cursor: auto;
  }
}

.enterDiv .logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
  width: max-content;
  padding: 7px;
  margin: auto;
}

.enterDiv .heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 24px auto;
}

.enterDiv .enterForm {
  width: 100%;
}

.enterDiv .enterForm .form-input {
  position: relative;
  width: 100%;
}

.enterDiv .enterForm .form-input input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background: #f1f3f5;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 7px 12px;
  width: calc(100% - 26px);
  margin-bottom: 12px;
  outline: none;
  transition: all 0.3s;
}

.enterDiv .enterForm .form-input input:focus {
  border: 1px solid #7e7fdf !important;
}

.enterDiv .enterForm .form-input .passShow {
  position: absolute;
  right: 10px;
  top: 10px;
  fill: #adb5bd;
  /*width: px;*/
  height: 16px;
}

.enterDiv .enterForm .rememberForgot {
  display: flex;
  flex-direction: row;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 6px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.enterDiv .enterForm .rememberForgot .remember {
  width: max-content;
  display: flex;
  align-items: center;
}

.enterDiv .enterForm .rememberForgot .remember .checkbox {
  margin-right: 7px;
  cursor: pointer;
}

.enterDiv .enterForm .rememberForgot .forgot {
  width: max-content;
  text-align: right;
  color: #7e7fdf;
  font-weight: 600;
}

.hide {
  display: none;
}

.enterDiv .enterForm .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 24px;
  border-radius: 4px;
  background: #7e7fdf;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 24px;
  width: 100%;
  border: none;
}

.enterDiv .enterForm .button:not(:disabled):hover {
  background: #6c6ddb;
  cursor: pointer;
}

.enterDiv .enterForm .button:disabled {
  cursor: no-drop;
}

@media screen and (max-width: 600px) {
  .enterDiv .enterForm .button {
    cursor: auto;
  }
}

.enterDiv .enterForm .message {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  display: none;
}

.enterDiv .enterForm .error {
  color: red;
}

.enterDiv .enterForm .success {
  color: #22c922;
}

.enterDiv .enterForm .footer {
  text-align: center;
  margin-top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.enterDiv .enterForm .footer span {
  color: #7e7fdf;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .enterDiv .enterForm .footer span {
    cursor: auto;
  }
}

.block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3b4b5f8a;
  z-index: 6;
}

main {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
}

main .container-row {
  display: flex;
  flex-direction: row;
}

main .postField {
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: inset 0px 1px 0px #e2e2e2;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 12px;
  padding: 16px;
  margin: 20px;
}

main .postField .profile1 {
  display: flex;
  flex-direction: row;
}

main .postField .profile1 img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  margin-right: 8px;
}

main .postField .profile1 div {
  width: 316px;
  height: 30px;
  background: #f1f3f5;
  border: 1px solid #ced4da;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #adb5bd;
  padding-left: 12px;
  cursor: pointer;
}

main .postField .profile1 textarea {
  background: #f1f3f5;
  border: 1px solid #ced4da;
  border-radius: 4px;
  resize: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  padding: 6px 12px;
  width: 100%;
  outline: none;
}

@media screen and (max-width: 600px) {
  main .postField .profile1 div {
    cursor: auto;
  }
}

main .postField .attachmentSend {
  margin-left: 40px;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  justify-content: space-between;
}

main .postField .attachmentSend .attachment {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  main .postField .attachmentSend .attachment {
    cursor: auto;
  }
}

main .postField .attachmentSend .attachment svg {
  fill: #adb5bd;
}

main .postField .attachmentSend .attachment:hover > svg {
  fill: #6c6ddb !important;
}

main .postField .attachmentSend .attachment:hover {
  color: #6c6ddb !important;
}

main .postField .attachmentSend .attachment span {
  margin-left: 6.34px;
}

main .postField .attachmentSend .sendBtn {
  cursor: pointer;
  fill: #7e7fdf;
}

@media screen and (max-width: 600px) {
  main .postField .attachmentSend .sendBtn {
    cursor: auto;
  }
}

main .postField .attachmentSend .sendBtn:hover {
  fill: #6c6ddb !important;
}

main .card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  width: 400px;
  border-radius: 12px;
  padding: 16px;
  margin: 8px 20px;
  transition: all 0.3s;
  background: #fff;
  border: 1px solid #e2e2e2;
  position: relative;
}

main .card:hover {
  border: 1px solid #adb5bd;
}

main .post {
  background: radial-gradient(
      40.62% 40.62% at 0% 0%,
      rgba(226, 166, 228, 0.4) 0%,
      rgba(226, 166, 228, 0) 100%
    ),
    #fdf9fd;
  border: 1px solid #e2a6e4;
  margin: 20px;
  margin-bottom: 4px;
}

main .post:hover {
  border: 1px solid #da8edd;
}

main .evulation {
  background: radial-gradient(
      44.75% 44.75% at 0% 0%,
      rgba(126, 127, 223, 0.3) 0%,
      rgba(126, 127, 223, 0) 100%
    ),
    #f9f9ff;
  border: 1px solid #7e7fdf !important;
  margin: 20px;
  margin-bottom: 4px;
}

main .card .top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

main .evulation- .top {
  flex-direction: column;
}

main .card .top .profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main .card .top .profile img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

main .card .top .profile .nameDate {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

main .card .top .profile .nameDate .name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

main .card .top .profile .nameDate .date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #868e96;
}

main .card .top .keyDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

main .evulation- .top .keyDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

main .evulation- .top .keyDiv .evulve {
  display: flex;
  flex-direction: row;
  margin-left: -27px;
  cursor: pointer;
  fill: #7e7fdf;
  transition: all 0.3s;
}

main .evulation- .top .keyDiv .evulve:hover {
  fill: #6c6ddb;
}

@media screen and (max-width: 600px) {
  main .evulation- .top .keyDiv .evulve {
    cursor: auto;
  }
}

main .evulation- .top .keyDiv .evulve div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  height: 24px;
  background: #7e7fdf;
  border-radius: 0px 2px 2px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  transition: all 0.3s;
}

main .evulation- .top .keyDiv .evulve:hover > div {
  background: #6c6ddb;
}

main .card .top .keyDiv .key {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main .card .top .keyDiv .key div {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  font-size: 12px;
  margin-left: 4px;
  color: #868e96;
}

main .card .middle .content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

main .card .middle .moreLessButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
  background: #f8ebf9;
  border-radius: 4px;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 8px;
}

main .evulation .middle .moreLessButton {
  background: #e8e9fb;
}

@media screen and (max-width: 600px) {
  main .card .middle .moreLessButton {
    cursor: auto;
  }
}

main .card .middle .moreLessButton:hover {
  color: #da8edd;
}

main .evulation .middle .moreLessButton:hover {
  color: #7e7fdf;
}

main .card .flex-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main .card .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

main .card .bottom .reply {
  fill: #adb5bd;
  cursor: pointer;
}

main .card .bottom .reply:hover,
main .card .bottom .replyActive {
  fill: #7e7fdf;
  color: #7e7fdf;
}

main .card .bottom .reply div {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-left: 6px;
}

main .card .bottom .status svg {
  margin-left: 10px;
}

main .card .bottom .status div {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-left: 3px;
}

main .card .bottom .statusEvulve {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  right: -20px;
}

main .card .bottom .statusEvulve2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  right: -27px;
}

main .card .bottom .statusEvulve .evulve {
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  cursor: pointer;
  fill: #e2a6e4;
  transition: all 0.3s;
}

@media screen and (max-width: 600px) {
  main .card .bottom .statusEvulve .evulve {
    cursor: auto;
  }
}

main .card .bottom .statusEvulve .evulve div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  height: 24px;
  background: #e2a6e4;
  border-radius: 0px 2px 2px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  transition: all 0.3s;
}

main .card .bottom .statusEvulve2 .evulve:hover {
  fill: #6c6ddb;
}

main .card .bottom .statusEvulve2 .evulve {
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  cursor: pointer;
  fill: #7e7fdf;
  transition: all 0.3s;
}

main .card .bottom .statusEvulve .evulve:hover {
  fill: #da8edd;
}

main .card .bottom .statusEvulve .evulve:hover > div {
  background: #da8edd;
}

@media screen and (max-width: 600px) {
  main .card .bottom .statusEvulve2 .evulve {
    cursor: auto;
  }
}

main .card .bottom .statusEvulve2 .evulve div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  height: 24px;
  background: #7e7fdf;
  border-radius: 2px 0px 0px 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  transition: all 0.3s;
}

main .card .bottom .statusEvulve2 .evulve:hover > div {
  background: #6c6ddb;
}

main .card .bottom .multipleEvulve {
  position: absolute;
  top: 30px;
  width: max-content;
  margin-left: -16px;
  flex-direction: column !important;
  align-items: flex-start !important;
  background: #ffffff !important;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
  border-radius: 4px !important;
  display: flex !important;
  right: 5px;
  padding: 7px !important;
  z-index: 10;
  display: none !important ;
}

main .card .bottom .multipleEvulve .evulveM {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  fill: #e2a6e4 !important;
  transition: all 0.3s;
  margin-left: 0;
  background: transparent !important;
  padding: 0 !important;
}

@media screen and (max-width: 600px) {
  main .card .bottom .multipleEvulve .evulveM {
    cursor: auto;
  }
}

main .card .bottom .multipleEvulve .evulveM div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  height: 24px;
  background: #e2a6e4;
  border-radius: 0px 2px 2px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  transition: all 0.3s;
}

main .card .bottom .multipleEvulve .evulveM:hover {
  fill: #da8edd !important;
}

main .card .bottom .multipleEvulve .evulveM:hover > div {
  background: #da8edd !important;
}

main .card .bottom .react {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  main .card .bottom .react {
    cursor: auto;
  }
}

main .card .replyForm {
  background: #ffffff;
  box-shadow: inset 0px 1px 0px #e2e2e2;
  border-radius: 0px 0px 12px 12px;
  padding: 16px;
  margin-left: -16px;
  width: 100%;
  /* margin-top: 6px; */
  margin-bottom: -16px;
  display: flex;
  flex-direction: column;
  display: none;
}

main .card .replyForm .profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main .card .replyForm .profile img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

main .card .replyForm .profile input {
  margin-left: 8px;
  background: #f1f3f5;
  border: 1px solid #ced4da;
  border-radius: 4px;
  resize: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  padding: 6px 12px;
  width: 100%;
  outline: none;
}

main .card .replyForm .attachmentSend {
  margin-left: 40px;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  justify-content: space-between;
}

main .card .replyForm .attachmentSend .attachment {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  main .card .replyForm .attachmentSend .attachment {
    cursor: auto;
  }
}

main .card .replyForm .attachmentSend .attachment svg {
  fill: #adb5bd;
}

main .card .replyForm.attachmentSend .attachment:hover > svg {
  fill: #6c6ddb !important;
}

main .card .replyForm .attachmentSend .attachment:hover {
  color: #6c6ddb !important;
}

main .card .replyForm .attachmentSend .attachment span {
  margin-left: 6.34px;
}

main .card .replyForm .attachmentSend .sendBtn {
  cursor: pointer;
  fill: #7e7fdf;
}

@media screen and (max-width: 600px) {
  main .card .replyForm .attachmentSend .sendBtn {
    cursor: auto;
  }
}

main .card .replyForm .attachmentSend .sendBtn:hover {
  fill: #6c6ddb !important;
}

#popupdiv {
  position: fixed;
  bottom: 0;
  left: 0;
  height: max-content;
  width: max-content;
}

.popup {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  width: 250px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 10px;
  padding-right: 30px;
  margin: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  opacity: 0;
  transition: all 0.3s;
  /* display: none; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.popup-post {
  background: radial-gradient(
      40.62% 40.62% at 0% 0%,
      rgba(226, 166, 228, 0.4) 0%,
      rgba(226, 166, 228, 0) 100%
    ),
    #fdf9fd;
  border: 1px solid #e2a6e4;
}

.popup-evulation {
  background: radial-gradient(
      44.75% 44.75% at 0% 0%,
      rgba(126, 127, 223, 0.3) 0%,
      rgba(126, 127, 223, 0) 100%
    ),
    #f9f9ff;
  border: 1px solid #a3a4d8 !important;
}

.popup img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  margin-right: 10px;
}

.popup .username {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.popup .closeBtn {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 18px;
}
